@model  IEnumerable<NewTemp.Models.huawei>
@{
    ViewBag.Title = "huawei";
}

<!--
Body Section
-->
<!--
Three column view
-->
<div style="float:center;width:100%; height:50%">
    <img src="~/img/huawei/Huawei-logo.jpg">
</div>
<!-- <h3>Three Column Product view </h3> -->
<ul class="thumbnails">

@foreach (var item in @Model)
                    {
    <li class="span4">
        <div class="thumbnail">
            <a href="product_details.html" class="overlay"></a>
            <a class="zoomTool" href="@Url.Action("huawei_detail", "Home", new { id = item.id}, null)" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
            <a href="@Url.Action("huawei_detail", "Home", new { id = item.id}, null)"><img src="@(System.Configuration.ConfigurationManager.AppSettings["adminURL"] + item.url.Substring(1, item.url.Length-1))" alt=""></a>
            <div class="caption cntr">
                <p><strong>@item.name</strong></p>
                <p><strong> @item.price</strong></p>
                <h4><a class="shopBtn" href="#" title="add to cart"> Add to cart </a></h4>
                <div class="actionList">
                    <a class="pull-left" href="#">Add to Wish List </a>
                    <a class="pull-left" href="#"> Add to Compare </a>
                </div>
                <br class="clr">
            </div>
        </div>
    </li>
}
</ul>

