
@{
    ViewBag.Title = "listView";
}

<!--
Body Section
-->
<div class="row">
    <div id="sidebar" class="span3">
        <div class="well well-small">
            <ul class="nav nav-list">
                <li><span class="icon-chevron-right">@Html.ActionLink("Samsung", "samsung", "Home")</span></li>
                <li><span class="icon-chevron-right">@Html.ActionLink("Huawei", "huawei", "Home")</span></li>

                <li><span class="icon-chevron-right">@Html.ActionLink("QMobile", "qmobile", "Home")</span></li>
                <li><span class="icon-chevron-right">@Html.ActionLink("LG", "lg", "Home")</span></li>
                <li><span class="icon-chevron-right">@Html.ActionLink("OPPO", "oppo", "Home")</span></li>
                <li><span class="icon-chevron-right">@Html.ActionLink("Iphones", "iphone", "Home")</span></li>
                <li><a href="index.html"><span class="icon-chevron-right">Nokia</span> </a></li>
                <li><a href="index.html"><span class="icon-chevron-right">Sony</span></a></li>
                <li><a href="index.html"><span class="icon-chevron-right">Haier</span></a></li>
                <li style="border:0"> &nbsp;</li>
                <!-- <li> <a class="totalInCart" href="cart.html"><strong>Total Amount  <span class="badge badge-warning pull-right" style="line-height:18px;">$448.42</span></strong></a></li>
                -->
            </ul>
        </div>

        <!--  <div class="well well-small alert alert-warning cntr">
             <h2>50% Discount</h2>
             <p>
                only valid for online order. <br><br><a class="defaultBtn" href="#">Click here </a>
             </p>
         </div>
         <div class="well well-small" ><a href="#"><img src="~/img/paypal.jpg" alt="payment method paypal"></a></div>
        -->
        <a class="shopBtn btn-block" href="#">Upcoming products <br><small>Click to view</small></a>
        <br>
        <br>
        <ul class="nav nav-list promowrapper">
            <li>
                <div class="thumbnail">
                    <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
                    <img src="~/img/7 plus.jpg" alt="bootstrap ecommerce templates">
                    <div class="caption">
                        <h4><a class="defaultBtn" href="product_details.html">VIEW</a> <span class="pull-right">$22.00</span></h4>
                    </div>
                </div>
            </li>
            <li style="border:0"> &nbsp;</li>
            <li>
                <div class="thumbnail">
                    <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
                    <img src="~/img/microsoft surface phone.jpg" alt="shopping cart template">
                    <div class="caption">
                        <h4><a class="defaultBtn" href="product_details.html">VIEW</a> <span class="pull-right">$22.00</span></h4>
                    </div>
                </div>
            </li>
            <li style="border:0"> &nbsp;</li>
            <li>
                <div class="thumbnail">
                    <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
                    <img src="~/img/nokia_edge.jpg" alt="bootstrap template">
                    <div class="caption">
                        <h4><a class="defaultBtn" href="product_details.html">VIEW</a> <span class="pull-right">$22.00</span></h4>
                    </div>
                </div>
            </li>
            <li>
                <div class="thumbnail">
                    <a class="zoomTool" href="product_details.html" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
                    <img src="~/img/Samsung-Galaxy-S6-Image.png" alt="bootstrap ecommerce templates">
                    <div class="caption">
                        <h4><a class="defaultBtn" href="product_details.html">VIEW</a> <span class="pull-right">$22.00</span></h4>
                    </div>
                </div>
            </li>
            <li style="border:0"> &nbsp;</li>



        </ul>


    </div>

    <div class="span9">
        <div class="well well-small">
            <h3>SAMSUNG SMARTPHONES</h3>
            <div class="row-fluid">
                <div class="span2">
                    <img src="~/img//Samsung/galaxy A5.jpg" alt="">
                </div>
                <div class="span6">
                    <h5>Product Name </h5>
                    <p>
                        Nowadays the lingerie industry is one of the most successful business spheres.
                        We always stay in touch with the latest fashion tendencies -
                        that is why our goods are so popular..
                    </p>
                </div>
                <div class="span4 alignR">
                    <form class="form-horizontal qtyFrm">
                        <h3> $140.00</h3>
                        <label class="checkbox">
                            <input type="checkbox">  Adds product to compair
                        </label><br>
                        <div class="btn-group">
                            <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                            <a href="product_details.html" class="shopBtn">VIEW</a>
                        </div>
                    </form>
                </div>
            </div>
            <hr class="soften">
            <div class="row-fluid">
                <div class="span2">
                    <img src="~/img//Samsung/galaxy s5.jpg" alt="">
                </div>
                <div class="span6">
                    <h5>Product Name </h5>
                    <p>
                        Nowadays the lingerie industry is one of the most successful business spheres.
                        We always stay in touch with the latest fashion tendencies -
                        that is why our goods are so popular..
                    </p>
                </div>
                <div class="span4 alignR">
                    <form class="form-horizontal qtyFrm">
                        <h3> $140.00</h3>
                        <label class="checkbox">
                            <input type="checkbox">  Adds product to compair
                        </label><br>
                        <div class="btn-group">
                            <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                            <a href="product_details.html" class="shopBtn">VIEW</a>
                        </div>
                    </form>
                </div>
            </div>
            <hr class="soften">
            <div class="row-fluid">
                <div class="span2">
                    <img src="~/img/Samsung/galaxy s6.jpg" alt="">
                </div>
                <div class="span6">
                    <h5>Product Name </h5>
                    <p>
                        Nowadays the lingerie industry is one of the most successful business spheres.
                        We always stay in touch with the latest fashion tendencies -
                        that is why our goods are so popular..
                    </p>
                </div>
                <div class="span4 alignR">
                    <form class="form-horizontal qtyFrm">
                        <h3> $140.00</h3>
                        <label class="checkbox">
                            <input type="checkbox">  Adds product to compair
                        </label><br>
                        <div class="btn-group">
                            <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                            <a href="product_details.html" class="shopBtn">VIEW</a>
                        </div>
                    </form>
                </div>
            </div>
            <hr class="soften">
            <div class="row-fluid">
                <div class="span2">
                    <img src="~/img/Samsung/j5_prime.jpg" alt="">
                </div>
                <div class="span6">
                    <h5>Product Name </h5>
                    <p>
                        Nowadays the lingerie industry is one of the most successful business spheres.
                        We always stay in touch with the latest fashion tendencies -
                        that is why our goods are so popular..
                    </p>
                </div>
                <div class="span4 alignR">
                    <form class="form-horizontal qtyFrm">
                        <h3> $140.00</h3>
                        <label class="checkbox">
                            <input type="checkbox">  Adds product to compair
                        </label><br>
                        <div class="btn-group">
                            <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                            <a href="product_details.html" class="shopBtn">VIEW</a>
                        </div>
                    </form>
                </div>
            </div>
            <hr class="soften">
            <div class="row-fluid">
                <div class="span2">
                    <img src="~/img//Samsung/grand prime.jpg" alt="">
                </div>
                <div class="span6">
                    <h5>Product Name </h5>
                    <p>
                        Nowadays the lingerie industry is one of the most successful business spheres.
                        We always stay in touch with the latest fashion tendencies -
                        that is why our goods are so popular..
                    </p>
                </div>
                <div class="span4 alignR">
                    <form class="form-horizontal qtyFrm">
                        <h3> $140.00</h3>
                        <label class="checkbox">
                            <input type="checkbox">  Adds product to compair
                        </label><br>
                        <div class="btn-group">
                            <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                            <a href="product_details.html" class="shopBtn">VIEW</a>
                        </div>
                    </form>
                </div>
                <h3><a class="btn btn-mini pull-right" href="products.html" title="View more">VIew More<span class="icon-plus"></span></a></h3>
            </div>
            <h3>HUAWEI SMARTPHONES</h3>


            <!-- <hr class="soften">
            <div class="row-fluid">
                <div class="span2">
                    <img src="~/img/Samsung/samsung_galaxy_core_max.jpg" alt="">
                </div>
                <div class="span6">
                    <h5>Product Name </h5>
                    <p>
                    Nowadays the lingerie industry is one of the most successful business spheres.
                    We always stay in touch with the latest fashion tendencies -
                    that is why our goods are so popular..
                    </p>
                </div>
                <div class="span4 alignR">
                <form class="form-horizontal qtyFrm">
                <h3> $140.00</h3>
                <label class="checkbox">
                    <input type="checkbox">  Adds product to compair
                </label><br>
                <div class="btn-group">
                  <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                  <a href="product_details.html" class="shopBtn">VIEW</a>
                 </div>
                    </form>
                </div>
            </div>
            <hr class="soften">
            <div class="row-fluid">
                <div class="span2">
                    <img src="~/img//Samsung/s3 mini.jpg" alt="">
                </div>
                <div class="span6">
                    <h5>Product Name </h5>
                    <p>
                    Nowadays the lingerie industry is one of the most successful business spheres.
                    We always stay in touch with the latest fashion tendencies -
                    that is why our goods are so popular..
                    </p>
                </div>
                <div class="span4 alignR">
                <form class="form-horizontal qtyFrm">
                <h3> $140.00</h3>
                <label class="checkbox">
                    <input type="checkbox">  Adds product to compair
                </label><br>
                <div class="btn-group">
                  <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                  <a href="product_details.html" class="shopBtn">VIEW</a>
                 </div>
                    </form>
                </div>
            </div>
            <hr class="soften">
            <div class="row-fluid">
                <div class="span2">
                    <img src="~/img/Samsung/Samsung-Galaxy-J7.jpg" alt="">
                </div>
                <div class="span6">
                    <h5>Product Name </h5>
                    <p>
                    Nowadays the lingerie industry is one of the most successful business spheres.
                    We always stay in touch with the latest fashion tendencies -
                    that is why our goods are so popular..
                    </p>
                </div>
                <div class="span4 alignR">
                <form class="form-horizontal qtyFrm">
                <h3> $140.00</h3>
                <label class="checkbox">
                    <input type="checkbox">  Adds product to compair
                </label><br>
                <div class="btn-group">
                  <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                  <a href="product_details.html" class="shopBtn">VIEW</a>
                 </div>
                    </form>
                </div>
            </div>
            <hr class="soften">
            <div class="row-fluid">
                <div class="span2">
                    <img src="~/img/Samsung/samsung-galaxy-note-5-s6-edge-plus.jpg" alt="">
                </div>
                <div class="span6">
                    <h5>Product Name </h5>
                    <p>
                    Nowadays the lingerie industry is one of the most successful business spheres.
                    We always stay in touch with the latest fashion tendencies -
                    that is why our goods are so popular..
                    </p>
                </div>
                <div class="span4 alignR">
                <form class="form-horizontal qtyFrm">
                <h3> $140.00</h3>
                <label class="checkbox">
                    <input type="checkbox">  Adds product to compair
                </label><br>
                <div class="btn-group">
                  <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                  <a href="product_details.html" class="shopBtn">VIEW</a>
                 </div>
                    </form>
                </div>
            </div> -->
            <hr class="soften">
            <div class="row-fluid">
                <div class="span2">
                    <img src="~/img/huawei/honor-5x.png" alt="">
                </div>
                <div class="span6">
                    <h5>Product Name </h5>
                    <p>
                        Nowadays the lingerie industry is one of the most successful business spheres.
                        We always stay in touch with the latest fashion tendencies -
                        that is why our goods are so popular..
                    </p>
                </div>
                <div class="span4 alignR">
                    <form class="form-horizontal qtyFrm">
                        <h3> $140.00</h3>
                        <label class="checkbox">
                            <input type="checkbox">  Adds product to compair
                        </label><br>
                        <div class="btn-group">
                            <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                            <a href="product_details.html" class="shopBtn">VIEW</a>
                        </div>
                    </form>
                </div>
            </div>
            <hr class="soften">
            <div class="row-fluid">
                <div class="span2">
                    <img src="~/img//huawei/huawei honor 5c.jpg" alt="">
                </div>
                <div class="span6">
                    <h5>Product Name </h5>
                    <p>
                        Nowadays the lingerie industry is one of the most successful business spheres.
                        We always stay in touch with the latest fashion tendencies -
                        that is why our goods are so popular..
                    </p>
                </div>
                <div class="span4 alignR">
                    <form class="form-horizontal qtyFrm">
                        <h3> $140.00</h3>
                        <label class="checkbox">
                            <input type="checkbox">  Adds product to compair
                        </label><br>
                        <div class="btn-group">
                            <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                            <a href="product_details.html" class="shopBtn">VIEW</a>
                        </div>
                    </form>
                </div>
            </div>
            <hr class="soften">
            <div class="row-fluid">
                <div class="span2">
                    <img src="~/img//huawei/huawei honor 4c.jpg" alt="">
                </div>
                <div class="span6">
                    <h5>Product Name </h5>
                    <p>
                        Nowadays the lingerie industry is one of the most successful business spheres.
                        We always stay in touch with the latest fashion tendencies -
                        that is why our goods are so popular..
                    </p>
                </div>
                <div class="span4 alignR">
                    <form class="form-horizontal qtyFrm">
                        <h3> $140.00</h3>
                        <label class="checkbox">
                            <input type="checkbox">  Adds product to compair
                        </label><br>
                        <div class="btn-group">
                            <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                            <a href="product_details.html" class="shopBtn">VIEW</a>
                        </div>
                    </form>
                </div>
            </div>
            <hr class="soften">
            <div class="row-fluid">
                <div class="span2">
                    <img src="~/img//huawei/huawei mate 8.jpg" alt="">
                </div>
                <div class="span6">
                    <h5>Product Name </h5>
                    <p>
                        Nowadays the lingerie industry is one of the most successful business spheres.
                        We always stay in touch with the latest fashion tendencies -
                        that is why our goods are so popular..
                    </p>
                </div>
                <div class="span4 alignR">
                    <form class="form-horizontal qtyFrm">
                        <h3> $140.00</h3>
                        <label class="checkbox">
                            <input type="checkbox">  Adds product to compair
                        </label><br>
                        <div class="btn-group">
                            <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                            <a href="product_details.html" class="shopBtn">VIEW</a>
                        </div>
                    </form>
                </div>
                <h3><a class="btn btn-mini pull-right" href="products.html" title="View more">VIew More<span class="icon-plus"></span></a></h3>
            </div>

            <h3>QMOBILE SMARTPHONES</h3>
            <hr class="soften">
            <!-- <div class="row-fluid">
                <div class="span2">
                    <img src="~/img//huawei/huawei mate s.jpg" alt="">
                </div>
                <div class="span6">
                    <h5>Product Name </h5>
                    <p>
                    Nowadays the lingerie industry is one of the most successful business spheres.
                    We always stay in touch with the latest fashion tendencies -
                    that is why our goods are so popular..
                    </p>
                </div>
                <div class="span4 alignR">
                <form class="form-horizontal qtyFrm">
                <h3> $140.00</h3>
                <label class="checkbox">
                    <input type="checkbox">  Adds product to compair
                </label><br>
                <div class="btn-group">
                  <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                  <a href="product_details.html" class="shopBtn">VIEW</a>
                 </div>
                    </form>
                </div>
            </div>

            <hr class="soften">
            <div class="row-fluid">
                <div class="span2">
                    <img src="~/img//huawei/huawei p7.jpg" alt="">
                </div>
                <div class="span6">
                    <h5>Product Name </h5>
                    <p>
                    Nowadays the lingerie industry is one of the most successful business spheres.
                    We always stay in touch with the latest fashion tendencies -
                    that is why our goods are so popular..
                    </p>
                </div>
                <div class="span4 alignR">
                <form class="form-horizontal qtyFrm">
                <h3> $140.00</h3>
                <label class="checkbox">
                    <input type="checkbox">  Adds product to compair
                </label><br>
                <div class="btn-group">
                  <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                  <a href="product_details.html" class="shopBtn">VIEW</a>
                 </div>
                    </form>
                </div>
            </div>
            <hr class="soften">
            <div class="row-fluid">
                <div class="span2">
                    <img src="~/img//huawei/Huawei-P9.jpg" alt="">
                </div>
                <div class="span6">
                    <h5>Product Name </h5>
                    <p>
                    Nowadays the lingerie industry is one of the most successful business spheres.
                    We always stay in touch with the latest fashion tendencies -
                    that is why our goods are so popular..
                    </p>
                </div>
                <div class="span4 alignR">
                <form class="form-horizontal qtyFrm">
                <h3> $140.00</h3>
                <label class="checkbox">
                    <input type="checkbox">  Adds product to compair
                </label><br>
                <div class="btn-group">
                  <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                  <a href="product_details.html" class="shopBtn">VIEW</a>
                 </div>
                    </form>
                </div>

            </div>
            <hr class="soften">
            <div class="row-fluid">
                <div class="span2">
                    <img src="~/img//huawei/p8.jpg" alt="">
                </div>
                <div class="span6">
                    <h5>Product Name </h5>
                    <p>
                    Nowadays the lingerie industry is one of the most successful business spheres.
                    We always stay in touch with the latest fashion tendencies -
                    that is why our goods are so popular..
                    </p>
                </div>
                <div class="span4 alignR">
                <form class="form-horizontal qtyFrm">
                <h3> $140.00</h3>
                <label class="checkbox">
                    <input type="checkbox">  Adds product to compair
                </label><br>
                <div class="btn-group">
                  <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                  <a href="product_details.html" class="shopBtn">VIEW</a>
                 </div>
                    </form>
                </div>
            </div> -->

            <div class="row-fluid">
                <div class="span2">
                    <img src="~/img//QMobile/i8.jpg" alt="">
                </div>
                <div class="span6">
                    <h5>Product Name </h5>
                    <p>
                        Nowadays the lingerie industry is one of the most successful business spheres.
                        We always stay in touch with the latest fashion tendencies -
                        that is why our goods are so popular..
                    </p>
                </div>
                <div class="span4 alignR">
                    <form class="form-horizontal qtyFrm">
                        <h3> $140.00</h3>
                        <label class="checkbox">
                            <input type="checkbox">  Adds product to compair
                        </label><br>
                        <div class="btn-group">
                            <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                            <a href="product_details.html" class="shopBtn">VIEW</a>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span2">
                    <img src="~/img/QMobile/s6 plus.jpg" alt="">
                </div>
                <div class="span6">
                    <h5>Product Name </h5>
                    <p>
                        Nowadays the lingerie industry is one of the most successful business spheres.
                        We always stay in touch with the latest fashion tendencies -
                        that is why our goods are so popular..
                    </p>
                </div>
                <div class="span4 alignR">
                    <form class="form-horizontal qtyFrm">
                        <h3> $140.00</h3>
                        <label class="checkbox">
                            <input type="checkbox">  Adds product to compair
                        </label><br>
                        <div class="btn-group">
                            <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                            <a href="product_details.html" class="shopBtn">VIEW</a>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span2">
                    <img src="~/img/QMobile/z10.jpg" alt="">
                </div>
                <div class="span6">
                    <h5>Product Name </h5>
                    <p>
                        Nowadays the lingerie industry is one of the most successful business spheres.
                        We always stay in touch with the latest fashion tendencies -
                        that is why our goods are so popular..
                    </p>
                </div>
                <div class="span4 alignR">
                    <form class="form-horizontal qtyFrm">
                        <h3> $140.00</h3>
                        <label class="checkbox">
                            <input type="checkbox">  Adds product to compair
                        </label><br>
                        <div class="btn-group">
                            <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                            <a href="product_details.html" class="shopBtn">VIEW</a>
                        </div>
                    </form>
                </div>
                <h3><a class="btn btn-mini pull-right" href="products.html" title="View more">VIew More<span class="icon-plus"></span></a></h3>

            </div>

            <h3>LG SMARTPHONES</h3>
            <hr class="soften">


            <div class="row-fluid">
                <div class="span2">
                    <img src="~/img/LG/g3.jpg" alt="">
                </div>
                <div class="span6">
                    <h5>Product Name </h5>
                    <p>
                        Nowadays the lingerie industry is one of the most successful business spheres.
                        We always stay in touch with the latest fashion tendencies -
                        that is why our goods are so popular..
                    </p>
                </div>
                <div class="span4 alignR">
                    <form class="form-horizontal qtyFrm">
                        <h3> $140.00</h3>
                        <label class="checkbox">
                            <input type="checkbox">  Adds product to compair
                        </label><br>
                        <div class="btn-group">
                            <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                            <a href="product_details.html" class="shopBtn">VIEW</a>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span2">
                    <img src="~/img/LG/lg g5.jpg" alt="">
                </div>
                <div class="span6">
                    <h5>Product Name </h5>
                    <p>
                        Nowadays the lingerie industry is one of the most successful business spheres.
                        We always stay in touch with the latest fashion tendencies -
                        that is why our goods are so popular..
                    </p>
                </div>
                <div class="span4 alignR">
                    <form class="form-horizontal qtyFrm">
                        <h3> $140.00</h3>
                        <label class="checkbox">
                            <input type="checkbox">  Adds product to compair
                        </label><br>
                        <div class="btn-group">
                            <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                            <a href="product_details.html" class="shopBtn">VIEW</a>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span2">
                    <img src="~/img/LG/lg_k7.jpg" alt="">
                </div>
                <div class="span6">
                    <h5>Product Name </h5>
                    <p>
                        Nowadays the lingerie industry is one of the most successful business spheres.
                        We always stay in touch with the latest fashion tendencies -
                        that is why our goods are so popular..
                    </p>
                </div>
                <div class="span4 alignR">
                    <form class="form-horizontal qtyFrm">
                        <h3> $140.00</h3>
                        <label class="checkbox">
                            <input type="checkbox">  Adds product to compair
                        </label><br>
                        <div class="btn-group">
                            <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                            <a href="product_details.html" class="shopBtn">VIEW</a>
                        </div>
                    </form>
                </div>
                <h3><a class="btn btn-mini pull-right" href="products.html" title="View more">VIew More<span class="icon-plus"></span></a></h3>

            </div>
            <div class="row-fluid">
                <div class="span2">
                    <img src="~/img/LG/lg v20.jpg" alt="">
                </div>
                <div class="span6">
                    <h5>Product Name </h5>
                    <p>
                        Nowadays the lingerie industry is one of the most successful business spheres.
                        We always stay in touch with the latest fashion tendencies -
                        that is why our goods are so popular..
                    </p>
                </div>
                <div class="span4 alignR">
                    <form class="form-horizontal qtyFrm">
                        <h3> $140.00</h3>
                        <label class="checkbox">
                            <input type="checkbox">  Adds product to compair
                        </label><br>
                        <div class="btn-group">
                            <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                            <a href="product_details.html" class="shopBtn">VIEW</a>
                        </div>
                    </form>
                </div>
                <h3><a class="btn btn-mini pull-right" href="lg.html" title="View more">VIew More<span class="icon-plus"></span></a></h3>

            </div>

            <h3>IPHONES</h3>
            <hr class="soften">


            <div class="row-fluid">
                <div class="span2">
                    <img src="~/img/iphone/5c.jpg" alt="">
                </div>
                <div class="span6">
                    <h5>Product Name </h5>
                    <p>
                        Nowadays the lingerie industry is one of the most successful business spheres.
                        We always stay in touch with the latest fashion tendencies -
                        that is why our goods are so popular..
                    </p>
                </div>
                <div class="span4 alignR">
                    <form class="form-horizontal qtyFrm">
                        <h3> $140.00</h3>
                        <label class="checkbox">
                            <input type="checkbox">  Adds product to compair
                        </label><br>
                        <div class="btn-group">
                            <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                            <a href="product_details.html" class="shopBtn">VIEW</a>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span2">
                    <img src="~/img/iphone/5s.png" alt="">
                </div>
                <div class="span6">
                    <h5>Product Name </h5>
                    <p>
                        Nowadays the lingerie industry is one of the most successful business spheres.
                        We always stay in touch with the latest fashion tendencies -
                        that is why our goods are so popular..
                    </p>
                </div>
                <div class="span4 alignR">
                    <form class="form-horizontal qtyFrm">
                        <h3> $140.00</h3>
                        <label class="checkbox">
                            <input type="checkbox">  Adds product to compair
                        </label><br>
                        <div class="btn-group">
                            <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                            <a href="product_details.html" class="shopBtn">VIEW</a>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span2">
                    <img src="~/img/iphone/7.jpg" alt="">
                </div>
                <div class="span6">
                    <h5>Product Name </h5>
                    <p>
                        Nowadays the lingerie industry is one of the most successful business spheres.
                        We always stay in touch with the latest fashion tendencies -
                        that is why our goods are so popular..
                    </p>
                </div>
                <div class="span4 alignR">
                    <form class="form-horizontal qtyFrm">
                        <h3> $140.00</h3>
                        <label class="checkbox">
                            <input type="checkbox">  Adds product to compair
                        </label><br>
                        <div class="btn-group">
                            <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                            <a href="product_details.html" class="shopBtn">VIEW</a>
                        </div>
                    </form>
                </div>
                <h3><a class="btn btn-mini pull-right" href="products.html" title="View more">VIew More<span class="icon-plus"></span></a></h3>

            </div>
            <div class="row-fluid">
                <div class="span2">
                    <img src="~/img/iphone/iphone5.jpg" alt="">
                </div>
                <div class="span6">
                    <h5>Product Name </h5>
                    <p>
                        Nowadays the lingerie industry is one of the most successful business spheres.
                        We always stay in touch with the latest fashion tendencies -
                        that is why our goods are so popular..
                    </p>
                </div>
                <div class="span4 alignR">
                    <form class="form-horizontal qtyFrm">
                        <h3> $140.00</h3>
                        <label class="checkbox">
                            <input type="checkbox">  Adds product to compair
                        </label><br>
                        <div class="btn-group">
                            <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                            <a href="product_details.html" class="shopBtn">VIEW</a>
                        </div>
                    </form>
                </div>
                <h3><a class="btn btn-mini pull-right" href="iphone.html" title="View more">VIew More<span class="icon-plus"></span></a></h3>

            </div>

            <h3>OPPO SMART_PHONES</h3>
            <hr class="soften">


            <div class="row-fluid">
                <div class="span2">
                    <img src="~/img/oppo/a37.jpg" alt="">
                </div>
                <div class="span6">
                    <h5>Product Name </h5>
                    <p>
                        Nowadays the lingerie industry is one of the most successful business spheres.
                        We always stay in touch with the latest fashion tendencies -
                        that is why our goods are so popular..
                    </p>
                </div>
                <div class="span4 alignR">
                    <form class="form-horizontal qtyFrm">
                        <h3> $140.00</h3>
                        <label class="checkbox">
                            <input type="checkbox">  Adds product to compair
                        </label><br>
                        <div class="btn-group">
                            <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                            <a href="product_details.html" class="shopBtn">VIEW</a>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span2">
                    <img src="~/img/oppo/mirror3.jpg" alt="">
                </div>
                <div class="span6">
                    <h5>Product Name </h5>
                    <p>
                        Nowadays the lingerie industry is one of the most successful business spheres.
                        We always stay in touch with the latest fashion tendencies -
                        that is why our goods are so popular..
                    </p>
                </div>
                <div class="span4 alignR">
                    <form class="form-horizontal qtyFrm">
                        <h3> $140.00</h3>
                        <label class="checkbox">
                            <input type="checkbox">  Adds product to compair
                        </label><br>
                        <div class="btn-group">
                            <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                            <a href="product_details.html" class="shopBtn">VIEW</a>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row-fluid">
                <div class="span2">
                    <img src="~/img/oppo/mirror5.jpg" alt="">
                </div>
                <div class="span6">
                    <h5>Product Name </h5>
                    <p>
                        Nowadays the lingerie industry is one of the most successful business spheres.
                        We always stay in touch with the latest fashion tendencies -
                        that is why our goods are so popular..
                    </p>
                </div>
                <div class="span4 alignR">
                    <form class="form-horizontal qtyFrm">
                        <h3> $140.00</h3>
                        <label class="checkbox">
                            <input type="checkbox">  Adds product to compair
                        </label><br>
                        <div class="btn-group">
                            <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                            <a href="product_details.html" class="shopBtn">VIEW</a>
                        </div>
                    </form>
                </div>
                <h3><a class="btn btn-mini pull-right" href="products.html" title="View more">VIew More<span class="icon-plus"></span></a></h3>

            </div>
            <div class="row-fluid">
                <div class="span2">
                    <img src="~/img/oppo/n1.jpg" alt="">
                </div>
                <div class="span6">
                    <h5>Product Name </h5>
                    <p>
                        Nowadays the lingerie industry is one of the most successful business spheres.
                        We always stay in touch with the latest fashion tendencies -
                        that is why our goods are so popular..
                    </p>
                </div>
                <div class="span4 alignR">
                    <form class="form-horizontal qtyFrm">
                        <h3> $140.00</h3>
                        <label class="checkbox">
                            <input type="checkbox">  Adds product to compair
                        </label><br>
                        <div class="btn-group">
                            <a href="product_details.html" class="defaultBtn"><span class=" icon-shopping-cart"></span> Add to cart</a>
                            <a href="product_details.html" class="shopBtn">VIEW</a>
                        </div>
                    </form>
                </div>
                <h3><a class="btn btn-mini pull-right" href="oppo.html" title="View more">VIew More<span class="icon-plus"></span></a></h3>

            </div>






        </div>
    </div>
</div>


