@model  IEnumerable<NewTemp.Models.samsung>
@{
    ViewBag.Title = "samsung";
}

<!--
Body Section
-->
<!--
Three column view
-->
<div style="float:center;width:100%; height:50%">
    <img src="~/img/Samsung/Samsung-logo.png">
</div>
<!-- <h3>Three Column Product view </h3> -->
<ul class="thumbnails">
   @foreach (var item in @Model) {
    <li class="span4">
        <div class="thumbnail">
            <a href="product_details.html" class="overlay"></a>
            <a class="zoomTool" href="@Url.Action("products_detail", "Home", new { id = item.id}, null)" title="add to cart"><span class="icon-search"></span> QUICK VIEW</a>
            <a href="@Url.Action("products_detail", "Home", new { id = item.id}, null)"><img src="@(System.Configuration.ConfigurationManager.AppSettings["adminURL"] + item.url.Substring(1, item.url.Length-1))" alt=""></a>
            <div class="caption cntr">
                <p><strong>@item.name</strong></p>
                <p><strong> @item.price</strong></p>

                <h4><a class="shopBtn" href="#" title="add to cart"> Add to cart </a></h4>
               
                <br class="clr">
            </div>
        </div>
    </li>
}

   
</ul>



